[Unit]
Description=MGS Bluesky Bot
After=network.target

[Service]
User=mark
WorkingDirectory=/home/mark/mgs
ExecStart=/home/mark/.env/bin/python3 -u /home/mark/mgs/main-bsky.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
